<div class="col-md-8 mb-3 d-flex align-items-stretch">
    <a href="infopage.html" class="text-decoration-none text-reset w-100">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><%= recipe.name %></h5>
                <p class="card-text"><%= recipe.description %></p>
                <div class="mt-4">
                    <p><strong>Diet:</strong> <%= recipe.meal_type %></p>
                    <p><strong>Prep Time:</strong> <%= recipe.prep_time %> mins</p>
                    <p><strong>Calories:</strong> <%= recipe.calories %></p>
                </div>
            </div>
        </div>
    </a>
</div>
